footer{
    background-image: url(img/sfondostellato.jpg); }
.hero{
    background-image: url(img/sfondostellato.jpg);}
.reviews{
    background-image: url(img/h3-testimonials-bckgrnd.jpg);}
.reservation{
    background-image: url(img/h3-background-img-3.jpg);}
.delish{
    background-image:  url(img/sfondostellato.jpg);}
    .navbar {
   
        background-image: url(img/sfondostellato.jpg);
    
    }