<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="dist/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>Don Peppe</title>
</head>

<body>
    <div id="app">

        <!-- Inizio facendo sia la nav bar che il footer, dopo inizio con il main -->
        <!-- La nav bar la divido in 4 parti, e giusto al centro inserirò il logo così come è nello screen -->
        <div class="navbar">
            <div class="container navbar  ">
                <nav class="d-flex">
                    <a class="btnNavbar" href="#">ORDER ONLINE</a>
                    <div class="d-flex">
                        <ul class="d-flex">
                            <li class="d-flex itemsMenu" v-for="element in menuLeft">
                                <img class="baffo" src="svg\svg-0.svg" alt="">
                                <a :href="element.link">{{element.text}}</a>
                            </li>
                        </ul>
                        <img src="img\h5-logo-divided-header.png" alt="Logo">
                        <ul class="d-flex">
                            <li class="d-flex itemsMenu" v-for="element in menuRight">
                                <img class="baffo" src="svg\svg-0.svg" alt="">
                                <a :href="element.link">{{element.text}}</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="d-flex">
                        <li class=" pos-relative">
                            <a href="#"><img class="vespa " src="svg/svg-1.svg" alt=""><span>CART</span>
                                <span class="cart">0</span>
                            </a>

                        </li>
                        <li class="pos-relative ">
                            <a href="#" class="d-flex">
                                <i class="fa fa-search" aria-hidden="true" @click="searchInput=!searchInput"></i>
                                <span v-if="!searchInput" class="search" @click="searchInput=!searchInput">SEARCH</span>
                                <input type="text" placeholder="search..." v-if="searchInput" class="searchbar">
                            </a>


                        </li>

                    </ul>
                </nav>
            </div>
        </div>
        <main>
            <section class="hero pos-relative">
                <p class="prev" @click="changeImg(-1)"><strong>PREV</strong></p>
                <img class="wordHero" :src="imagesHero[activeImgHero].word" alt="">
                <img class="pos-relative pizza" :src="imagesHero[activeImgHero].image" alt="">
                <p class="next" @click="changeImg(1)"><strong>NEXT</strong></p>

            </section>
            <section class="row d-flex dates">
                <div class="col-3 pos-relative">
                    <img src="img\h3-img-1.jpg" alt="">
                    <img class="pallini" src="img\sfondopallini.jpg" alt="">
                    <p class="eye"><i class="fa fa-eye" aria-hidden="true"></i></p>
                </div>
                <div class="col-3 pos-relative">
                    <img src="img\h3-img-2.jpg" alt="">
                    <img class="pallini" src="img\sfondopallini.jpg" alt="">
                    <p class="eye"><i class="fa fa-eye" aria-hidden="true"></i></p>
                </div>
                <div class="col-3 pos-relative">
                    <img src="img\h3-img-3.jpg" alt="">
                    <img class="pallini" src="img\sfondopallini.jpg" alt="">
                    <p class="eye"><i class="fa fa-eye" aria-hidden="true"></i></p>
                </div>
                <div class="col-3 pos-relative">
                    <img src="img\h3-img-4.jpg" alt="">
                    <img class="pallini" src="img\sfondopallini.jpg" alt="">
                    <p class="eye"><i class="fa fa-eye" aria-hidden="true"></i></p>
                </div>
            </section>
            <section class="reviews">
                <p class="quotes">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                </p>

                <h3 class="text-review"> <span class="quotes-text"><i class="fa fa-quote-left"
                            aria-hidden="true"></i></span>FORGET THE TRENDY PIZZA SHOPS, THIS
                    HIDDEN SPOT MAKES THE BEST NEW <br> YORK-STYLE PIZZA SLICE IN NAPLES <span class="quotes-text"><i
                            class="fa fa-quote-right" aria-hidden="true"></i></span>
                </h3>

                <p><strong>WASHINGTON POST 2018</strong></p>
                <p>
                    <span class="ball-review active-review"></span>
                    <span class="ball-review"></span>
                    <span class="ball-review"></span>
                </p>



            </section>
        </main>
        <footer>
            <div class="d-flex ">
                <div class="col-6 contact d-flex ">
                    <div class="contact-container d-flex">
                        <div class="col-4">
                            <ul>
                                <h3>FIND OUR RESTAURANTS</h3>
                                <li v-for="el in findRestaurants">
                                    <p>{{el.indirizzo}}</p>
                                    <p>{{el.citta}}</p>
                                    <p>{{el.numero}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul class="workhours">
                                <h3>WORKING HOURS</h3>
                                <li v-for="el in workDay">
                                    <span><strong>{{el.day}}</strong> </span><span class="colorOrange">{{el.pos}}</span>
                                    <p>{{el.hours}}</p>
                                    <p class="colorOrange">{{el.closedKit}}</p>
                                </li>
                                <li>
                                    <span><strong>FOLLOW US:</strong></span>
                                    <span class="iconSocial">
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <p><strong>THE DON PEPPE CREW <br> FIRST AND FOREMOST <br> VALUES AN AUTHENTIC, WELL BAKED
                                    SLICE OF <br>
                                    PIZZA.</strong></p>
                        </div>
                    </div>
                    <div class="col-12 pos-relative">
                        <p>Created with &hearts;.by <span>Antonio Cardone</span></p>
                        <img src="img\premiumquality.png" alt="">

                    </div>
                </div>
                <div class="col-6 imgFooter">
                    <img src="img\footer-img-1.jpg" alt="">
                </div>
            </div>
        </footer>
    </div>


    <script src="scripts/script.js"></script>

</body>

</html>