<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="dist/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>Don Peppe</title>
</head>

<body>
    <div id="app">

        <!-- Inizio facendo sia la nav bar che il footer, dopo inizio con il main -->
        <!-- La nav bar la divido in 4 parti, e giusto al centro inserirò il logo così come è nello screen -->
        <div class="navbar" id="navi">
            <div class="container navbar  ">
                <nav class="d-flex">
                    <a class="btnNavbar" href="#">ORDER ONLINE</a>
                    <div class="d-flex">
                        <ul class="d-flex">
                            <li class="d-flex itemsMenu" v-for="element in menuLeft">
                                <img class="baffo" src="svg\svg-0.svg" alt="">
                                <a :href="element.link">{{element.text}}</a>
                            </li>
                        </ul>
                        <img src="img\h5-logo-divided-header.png" alt="Logo">
                        <ul class="d-flex">
                            <li class="d-flex itemsMenu" v-for="element in menuRight">
                                <img class="baffo" src="svg\svg-0.svg" alt="">
                                <a :href="element.link">{{element.text}}</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="d-flex">
                        <li class=" pos-relative">
                            <a href="#" @click="cartClick"><img class="vespa " src="svg/svg-1.svg"
                                    alt=""><span>CART</span>
                                <span class="cart">0</span>
                            </a>
                            <div v-if="clickCart" class="itemCart">
                                <div v-if="!cart">
                                    <h4>IL TUO CARRELLO è VUOTO</h4>
                                </div>
                            </div>
                        </li>
                        <li class="pos-relative ">
                            <a href="#" class="d-flex">
                                <i class="fa fa-search" aria-hidden="true" @click="searchInput=!searchInput"></i>
                                <span v-if="!searchInput" class="search" @click="searchInput=!searchInput">SEARCH</span>
                                <input type="text" placeholder="search..." v-if="searchInput" class="searchbar">
                            </a>


                        </li>

                    </ul>
                </nav>
            </div>
        </div>
        <main class="pos-relative" @click="nocartClick">
            <div class="pizza-pointer">
                <a href="#navi"><img src="svg/svg-4.svg" alt=""></a>
            </div>
            <section class="hero pos-relative">
                <p class="prev" @click="changeImg(-1)"><strong>PREV</strong></p>
                <img class="wordHero" :src="imagesHero[activeImgHero].word" alt="">
                <img class="pos-relative pizza" :src="imagesHero[activeImgHero].image" alt="">
                <p class="next" @click="changeImg(1)"><strong>NEXT</strong></p>

            </section>
            <section class="row d-flex dates">
                <div class="col-3 pos-relative">
                    <img src="img\h3-img-1.jpg" alt="">
                    <img class="pallini" src="img\sfondopallini.jpg" alt="">
                    <p class="eye"><i class="fa fa-eye" aria-hidden="true"></i></p>
                </div>
                <div class="col-3 pos-relative">
                    <img src="img\h3-img-2.jpg" alt="">
                    <img class="pallini" src="img\sfondopallini.jpg" alt="">
                    <p class="eye"><i class="fa fa-eye" aria-hidden="true"></i></p>
                </div>
                <div class="col-3 pos-relative">
                    <img src="img\h3-img-3.jpg" alt="">
                    <img class="pallini" src="img\sfondopallini.jpg" alt="">
                    <p class="eye"><i class="fa fa-eye" aria-hidden="true"></i></p>
                </div>
                <div class="col-3 pos-relative">
                    <img src="img\h3-img-4.jpg" alt="">
                    <img class="pallini" src="img\sfondopallini.jpg" alt="">
                    <p class="eye"><i class="fa fa-eye" aria-hidden="true"></i></p>
                </div>
            </section>
            <section class="reviews pos-relative">
                <p class="prev"><strong>PREV</strong></p>

                <p class="quotes">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                </p>

                <h3 class="text-review"> <span class="quotes-text"><i class="fa fa-quote-left"
                            aria-hidden="true"></i></span>FORGET THE TRENDY PIZZA SHOPS, THIS
                    HIDDEN SPOT MAKES THE BEST NEW <br> YORK-STYLE PIZZA SLICE IN NAPLES <span class="quotes-text"><i
                            class="fa fa-quote-right" aria-hidden="true"></i></span>
                </h3>

                <p><strong>WASHINGTON POST 2018</strong></p>
                <p>
                    <span class="ball-review active-review"></span>
                    <span class="ball-review"></span>
                    <span class="ball-review"></span>
                </p>


                <p class="next"><strong>NEXT</strong></p>

            </section>
            <section class="special d-flex">
                <div class="col-6 pos-relative">
                    <img src="img/h1-img-4.jpg" alt="">
                    <img class="imgSpecial" src="img/h1-img-7n.png" alt="">

                </div>
                <div class="col-6 pos-relative">
                    <div class="specialCombo">
                        <div>
                            <h2><strong>SPECIALS*</strong> </h2>
                            <p class="textprice">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda
                                voluptate </p>
                        </div>
                        <div class="d-flex">
                            <div class="price">
                                <p><strong>$10</strong></p>
                            </div>
                            <div>
                                <h3>COMBO PICCOLO</h3>
                                <p class="textprice">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda
                                    voluptate </p>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="price">
                                <p><strong>$20</strong> </p>
                            </div>
                            <div>
                                <h3>COMBO MEDIO</h3>
                                <p class="textprice">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda
                                    voluptate </p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="price">
                                <p><strong>$30</strong></p>
                            </div>
                            <div>
                                <h3>COMBO GRANDE</h3>
                                <p class="textprice">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda
                                    voluptate </p>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
            <section class="judge pos-relative">
                <img src="img/h3-background-img.jpg" alt="">
                <h2>GO AHEAD AND <br>BUILD YOUR <br> OWN PIZZA <br> WE WON'T <br> JUDGE!</h2>
            </section>
            <section class="people d-flex">
                <div class="col-3 pos-relative">
                    <img class="staff" src="img/h1-team-1a-700x700.jpg" alt="">
                    <img class="pallini" src="img\sfondopallini.jpg" alt="">
                    <div class="staff-info pos-relative">
                        <div>
                            <h3>FRANK BAILEY</h3>
                            <p>Kitchen porter</p>
                            <p>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3 pos-relative">
                    <img class="staff" src="img/h1-team-2a.jpg" alt="">
                    <img class="pallini" src="img\sfondopallini.jpg" alt="">
                    <div class="staff-info pos-relative">
                        <div>
                            <h3>FRANK BAILEY</h3>
                            <p>Kitchen porter</p>
                            <p>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3 pos-relative">
                    <img class="staff" src="img/h1-team-4a.jpg" alt="">
                    <img class="pallini" src="img\sfondopallini.jpg" alt="">
                    <div class="staff-info pos-relative">
                        <div>
                            <h3>FRANK BAILEY</h3>
                            <p>Kitchen porter</p>
                            <p>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3 pos-relative">
                    <img class="staff" src="img/h1-team-3a.jpg" alt="">
                    <img class="pallini" src="img\sfondopallini.jpg" alt="">
                    <div class="staff-info pos-relative">
                        <div>
                            <h3>FRANK BAILEY</h3>
                            <p>Kitchen porter</p>
                            <p>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="logo">
                <div class="container d-flex">
                    <img src="img/h1-clients-img-4.png" alt="">
                    <img src="img/h1-clients-img-3.png" alt="">
                    <img src="img/h1-clients-img-1.png" alt="">
                    <img src="img/h1-clients-img-2.png" alt="">
                    <img src="img/h1-clients-img-5.png" alt="">
                </div>

            </section>
            <section class="choose-pizza pos-relative">
                <p class="choose"><strong> CHOOSE YOUR FLAVOR</strong></p>
                <h2>THE BEST PIZZA MENU IN TOWN</h2>
                <p class="choose-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, asperiores quam
                    sed <br> rerum
                    accusamus incidunt, reprehenderit at nesciunt itaque.</p>
                <div class="menu d-flex">

                    <div v-for="el in imagesPizza">
                        <div><img :src="el.image" alt=""></div>
                        <div class="name-pizza"><strong> {{el.name}}</strong></div>
                        <div class="price-pizza"><strong> {{el.price}}</strong></div>
                    </div>
                </div>
                <img class="circle" src="svg/svg-10.svg" alt="">
            </section>
            <section class="superman d-flex">
                <div class="col-6 ">
                    <div class="delish">
                        <p class="colorOR-delish"><strong>MADE WITH LOVE</strong> </p>
                        <h2 class="colorWH-delish">DELISH PIZZA DEALS</h2>
                        <div class="d-flex">
                            <div>
                                <div class="colorOR-delish number"><strong>02</strong></div>
                                <div class="colorWH-delish mese"><strong>NOV</strong></div>
                            </div>
                            <div>
                                <div class="colorWH-delish ">TRADITIONAL NEAPOLITAN PIES IN KYOTO <br> PIZZA MERCATO
                                </div>
                                <div class="colorOR-delish indirizzo"><i class="fa fa-map-marker" aria-hidden="true">
                                    </i> 204 E. Pizzetta Tommaso</div>
                            </div>
                        </div>
                        <div class="d-flex borderdelish">
                            <div>
                                <div class="colorOR-delish number"><strong>03</strong> </div>
                                <div class="colorWH-delish mese"><strong>NOV</strong></div>
                            </div>
                            <div>
                                <div class="colorWH-delish">TERARAZZAPATIO DINING SPACE OPENING <br> THIS WEEKEND</div>
                                <div class="colorOR-delish indirizzo"><i class="fa fa-map-marker" aria-hidden="true">
                                    </i> 204 E. Pizzetta Tommaso</div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div>
                                <div class="colorOR-delish number"><strong>05</strong></div>
                                <div class="colorWH-delish mese"><strong>NOV</strong></div>
                            </div>
                            <div>
                                <div class="colorWH-delish">SIENNA PRIVATE DINING ROOM WITH <br> STEPHANE BRUNN</div>
                                <div class="colorOR-delish indirizzo"><i class="fa fa-map-marker" aria-hidden="true">
                                    </i> 204 E. Pizzetta Tommaso</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 pos-relative">
                    <img src="img\h3-img-5a.jpg" alt="">
                    <img class="cart" src="svg/svg-9.svg" alt="">

                </div>
            </section>
            <section class="reservation">
                <div class="container d-flex">
                    <select name="person" id="person" v-model="person">
                        <option value="1 persona">1 person</option>
                        <option value="2 persone">2 person</option>
                        <option value="3 persone">3 person</option>
                        <option value="4 persone">4 person</option>
                    </select>
                    <span><strong>FOR</strong> </span>

                    <input type="date" v-model="data">
                    <span><strong>AT</strong> </span>
                    <select name="hours" id="hours" v-model="hours">

                        <option value="7:00pm">7:00pm</option>
                        <option value="8:00pm">8:00pm</option>
                        <option value="9:00pm">9:00pm</option>
                        <option value="10:00pm">10:00pm</option>
                        <option value="11:00pm">11:00pm</option>
                        <option value="12:00pm">12:00pm</option>
                    </select>
                    <div class="btnReservation" @click="clickReservation">BOOK A TABLE</div>
                </div>
                <div v-if="reser" class="conferm pos-relative">
                    <div v-for="el in reservation">
                        <h2 v-if="el.hours||el.data||el.person"><strong>Gentile Cliente ti confermiamo la prenotazione
                                alle ore {{el.hours}} del giorno {{el.data}} per {{el.person}}</strong>
                            <div class="btn-reservation" @click="reserF">
                                OK
                            </div>
                        </h2>
                    </div>

                </div>

            </section>
        </main>
        <footer>
            <div class="d-flex ">
                <div class="col-6 contact d-flex ">
                    <div class="contact-container d-flex">
                        <div class="col-4">
                            <ul>
                                <h3>FIND OUR RESTAURANTS</h3>
                                <li class="linkmaps" v-for="el in findRestaurants">
                                    <a  :href="el.link">
                                        <p>{{el.indirizzo}}</p>
                                        <p>{{el.citta}}</p>
                                        <p>{{el.numero}}</p>
                                    </a>

                                </li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul class="workhours">
                                <h3>WORKING HOURS</h3>
                                <li v-for="el in workDay">
                                    <span><strong>{{el.day}}</strong> </span><span class="colorOrange">{{el.pos}}</span>
                                    <p>{{el.hours}}</p>
                                    <p class="colorOrange">{{el.closedKit}}</p>
                                </li>
                                <li>
                                    <span><strong>FOLLOW US:</strong></span>
                                    <span class="iconSocial">
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <p><strong>THE DON PEPPE CREW <br> FIRST AND FOREMOST <br> VALUES AN AUTHENTIC, WELL BAKED
                                    SLICE OF <br>
                                    PIZZA.</strong></p>
                        </div>
                    </div>
                    <div class="col-12 pos-relative">
                        <p>Created with &hearts;.by <span>Antonio Cardone</span></p>
                        <img src="img\premiumquality.png" alt="">

                    </div>
                </div>
                <div class="col-6 imgFooter">
                    <img src="img\footer-img-1.jpg" alt="">
                </div>
            </div>
        </footer>
    </div>


    <script src="scripts/script.js"></script>

</body>

</html>