.hero{
  background-image: url(../../img/sfondostellato.jpg);
  text-align: center;
  padding: 30px;
  overflow: hidden;



  .wordHero{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
  }
  .pizza{
      height: 500px;
  }
  .prev{
      color: $btnOrange;
      background-color: $textNavbar;
      width: 60px;
      height: 60px;
      transform: rotate(90deg);
      border-radius: 50px;
      text-align: center;
      line-height: 30px;
      font-size: 10px;
      font-family: $fontFamily;  
      position: absolute;
      top: 40%;
      left: -30px;
      cursor: pointer;

    
    }
    .next{
        color: $btnOrange;
        background-color: $textNavbar;
        width: 60px;
        height: 60px;
        transform: rotate(-90deg);
        border-radius: 50px;
        text-align: center;
        line-height: 30px;
        font-size: 10px;
        font-family: $fontFamily;  
        position: absolute;
        top: 40%;
        right: -30px;
        cursor: pointer;
      
      }

}
.row{
    .col-3{
        img{
            max-width: 100%;
            padding: 10px 5px;
            margin-bottom: -4px;
        }
        .pallini{
            width: 100%;
            display: none;
        }
        .eye{
            height: 60px;
            width: 60px;
            color: $textNavbar;
            background-color: $btnOrange;
            text-align: center;
            line-height: 60px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            display: none;
            cursor: pointer;
        }
        &:hover{
            img{
                display: none;
            }
            .pallini,
            .eye{
                display: inline-block;
            }

        }
    }
    
    
}
.reviews{
  background-image: url(../../img/h3-testimonials-bckgrnd.jpg);
  padding: 120px 0;
  text-align: center;
    .quotes{
        color: #b7903c;
        font-size: 70px;
        margin-bottom: 20px;
    }
    .quotes-text{
        font-size: 5px;
        vertical-align: top; 
    }
    .text-review{
        font-family: $fontFamily; 
        display: inline-block; 
    }
    p{
        margin: 20px 0 40px 0 ;
        color: $btnOrange;
        font-size: 10px;
        font-family: $fontFamily; 


    }
    .ball-review{
        display: inline-block;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: #e4e4d4;
        margin: 0 5px;
    }
    .active-review{
        background-color: #b7903c;

    }
}